<% layout('layout/page') -%>
<% block('title', "Комментарии") -%>

<script src="/socket.io/socket.io.js"></script>

<div id="room">
    <ul class="list-unstyled"></ul>
    <form id ="first">
        <input  autocomplete="off"  placeholder="Тема...">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <form id ="second">
        <textarea autocomplete="off"  placeholder="Комментарий..."></textarea>
    </form>
</div>

<script>


    var form = $('#room form');
    var ul = $('#room ul');
    var input1 = $('#first input');
    var input2 = $('#second textarea');
    var socket = io.connect('', {
        reconnect: false
    });

    socket
        .on('message', function(username, theme, message, time) {
            printMessage(username)
            printMessage("Theme: " + theme);
            printMessage("Message: " + message);
            printDate(time);
        })
        .on('updateTime', function(time, index) {
            document.getElementsByTagName("DATE")[index].innerHTML = time;
        })
        .on('leave', function(username) {
            //printStatus(username + "exit");
        })
        .on('connect', function() {
            form.on('submit', sendMessage);
            input1.prop('disabled', false);
            input2.prop('disabled', false);
        })
        .on('disconnect', function() {
            form.off('submit', sendMessage);
            input1.prop('disabled', true);
            input2.prop('disabled', true);
            this.$emit('error');
        })
        .on('logout', function() {
            location.href = "/";
        })
        .on('error', function(reason) {
            if (reason == "handshake unauthorized") {
            } else {
                setTimeout(function() {
                    socket.socket.connect();
                }, 500);
            }
        });

    function sendMessage() {
        var text1 = input1.val();
        var text2 = input2.val();
        socket.emit('message', text1, text2, function() {
            printMessage("Theme: " + text1 + "Message: " +text2 );
        });

        input1.val('');
        input2.val('');
        return false;
    }


    function printStatus(status) {
        $('<li>').append($('<i>').text(status)).appendTo(ul);
    }

    function printMessage(text) {
        $('<li>').text(text).appendTo(ul);
    }
    function printDate(date) {
        $('<date>').text(date).appendTo(ul);
    }

</script>
